.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.grid {
  width: 250px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.square {
  width: 45px;
  height: 45px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-right: 2px;
}

.white {
  background-color: whitesmoke;
}

.blue {
  background-color: blue;
}